@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600);
body,
html {
  height: 100%;
}
header {
  display: table;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/congruent_outline.png');
  color: white;
}
header .card {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
header .card .name,
header .card .skills,
header .card .social {
  font-family: 'Raleway', sans-serif;
}
header .card .social {
  margin-right: 40px;
}
header .card .social li {
  display: inline;
}
header .card .social li a {
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 15px;
}
header .card .social li a:hover {
  border-bottom: 1px solid white;
}
.aboutme {
  display: table;
  width: 100%;
  height: 40%;
  background-image: url('../assets/img/geometry.png');
  color: black;
}
.aboutme .card {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.aboutme .card .heading,
.aboutme .card .content {
  font-family: 'Raleway', sans-serif;
}
.aboutme .card .heading {
  font-weight: 300;
  font-size: 34px;
}
.aboutme .card .content {
  width: 30%;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 15px;
  line-height: 2em;
}
.aboutme .card .content strong {
  font-weight: 600;
}
.writing {
  display: table;
  width: 100%;
  height: 40%;
  background-image: url('../assets/img/food.png');
}
.writing .card {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.writing .card a:hover {
  text-decoration: none;
}
.writing .card .heading {
  display: inline;
  color: black;
  border-bottom: 1px solid black;
}
.writing .card .heading:hover {
  border: none;
}
.footer {
  display: table;
  width: 100%;
  height: 40%;
  color: black;
}
.footer .card {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.bg_blog {
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/double_lined.png');
}
.entry {
  font-family: 'Raleway', sans-serif;
}
.entry .entry_title {
  font-weight: 300;
}
.entry .preview {
  font-size: 21px;
  font-weight: 400;
}
.entry .check_medium {
  font-size: 18px;
}
