body, html {
  font-family: sans-serif;
}

body {
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.6;
  color: #333;
  font-size: 16px;
}

h1, h2, h3 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:hover {
  // text-decoration: underline;
  border-bottom: 1px solid blue;
}

.image-me {
  max-width: 300px;
}